<template>
  <div id="app">
    <Authorize v-if="need_request"/>
    <div v-else-if="data">
      <Stats :data="data"/>
    </div>
    <Loading v-else/>
  </div>
</template>

<script>
  import Vue from 'vue';
  import storage from 'local-storage-fallback';

  import Stats from './Stats.vue';
  import prepare from './prepare.js';
  import api from './api.js';

  Vue.component('Stats', Stats);
  Vue.component('Loading', {
    template: '<div>Loading</div>'
  })
  Vue.component('Authorize', {
    template: '<button v-on:click="getRequest">Authorize</button>',
    methods: { getRequest: api.getRequest },
  })

  const request_token = storage.getItem('request_token');
  const access_token = storage.getItem('access_token');
  const need_request = request_token == undefined;
  const need_access = access_token == undefined;

  window._storage = storage;

  // storage.setItem('request_token', undefined)
  // storage.setItem('access_token', undefined)

  console.log("need_request : ", need_request, request_token, undefined);
  console.log("need_access : ", need_access, access_token, undefined);

  export default {
    name: 'app',
    mounted : function () {
      if (need_access && !need_request) {
        console.log("path 1");
        api.getAccess(request_token)
          .then(api.getData)
          .then((data) => {
            console.log('>>> got data , ready to prepare ', data)
            this.data = prepare(data)
          })
      }
      if (!need_access && !need_request) {
        console.log("path 2");
        api.getData()
          .then((data) => {
            console.log('>>> got data , ready to prepare ', data)
            this.data = prepare(data)
          })
          // .then((data) => {
          //   this.data = data;
          // })
      }

    },
    data () {
      return {
        need_request,
        data: null
      }
    }
  }
</script>

<style lang="scss">

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,500,900');
$white: #FFFFFF;
$background: #F5F5F5;
$text: #444444;
$border: #DDDDDD;
$high: rgb(255, 0, 71);
$green: #00FFAA;
$green2: #00F0CC;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body > div {
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5rem 2rem;
  color: $text;
  // height: 100%;

  background: $background;

  section {
    width: 100%;
    max-width: 700px; // TODO responsive
    margin: auto;
    text-align: center;
    min-height: 100vh;

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  svg.chart {
    width: 100%;
    height: 90vh;
    max-height: 500px;
  }

  .card {
    // max-width: 700px;
    background: rgba(255, 255, 255, .4);
    padding: 2rem;
    margin: 3rem 0;

    .sep {
      border: none;
      &.large { margin: 1.5rem 0 }
      &.medium { margin: .9rem 0 }
      &.small { margin: .1rem 0 }
    }

    .insight {
      text-align: center;
      display: inline-block;
      font-weight: 900;

      &.huge { font-size: 2.5rem; }
      &.medium { font-size: 2rem; }
      &.small { font-size: 1.3rem; }

      .emph {
        font-weight: 900;
        color: $high;
      }
    }

    .bold {
      font-weight: 900;
    }
  }

}
</style>
