<template>
  <div>
    <svg class="chart" id="dayline"></svg>
    <p>When do you read most in the day</p>
  </div>
</template>

<script>

  import * as d3 from "d3";

  export default {
    name: 'stats',
    props: ['data'],
    data () {
      return {
        elements: [{
          init(chart, scales, data, dim) {
            chart.append("g")
              .attr("transform", "translate(0," + dim.height + ")")
              .call(d3.axisBottom(scales.x)
                // .ticks(10)
                .tickSize(-dim.height)
              )
          }
        },{
          init(chart, scales, data) {
            var line = d3.line()
              .curve(d3.curveBasis)
              .x(d => scales.x(d.time))
              .y(d => scales.y(d.sum))

            chart.append("path")
              .attr('class', 'hist')
              .datum(data.time_reads)
              .attr("d", line)
              .attr("stroke", "rgba(0, 0, 0, .5)")
              .attr("stroke-width", 2)
              .attr("fill", "transparent");
          },

        }]
      }
    },
    computed: {
    },
    methods: {
      init() {
        var svg = d3.select("svg#dayline"),
            margins = {
              top: 50,
              right: 50,
              bottom: 50,
              left: 50
            };

        var width = parseInt(svg.style('width'), 10) - margins.left - margins.right;
        var height = parseInt(svg.style('height'), 10) - margins.top - margins.bottom;

        var x = d3.scaleTime().rangeRound([0, width]);
        var y = d3.scaleLinear().rangeRound([height, 0]);

        x.domain(d3.extent(this.data.time_reads, d => d.time));
        y.domain(d3.extent(this.data.time_reads, d => d.sum));

        this.scales = {x, y};
        this.dimensions = {width, height, margins};
        this.chart = svg.append("g").attr("transform", "translate(" + margins.left + "," + margins.top + ")");
        this.elements.forEach(e => e.init(this.chart, this.scales, this.data, this.dimensions))
      }
    },
    mounted() {
      this.init();
    }
  }
</script>

<style lang="scss">

  $text: #AAA;
  $tick: #CCC;

  svg#dayline {

    .domain {
      display: none;
    }

    .tick {
      line {
        stroke: $tick;
      }

      text {
        font-family: "Montserrat";
        font-size: .8rem;
        fill: $text;
      }
    }

  }

</style>
