<template>
    <div>
      <button
        v-for="mode in modes"
        v-bind:class="computeClass(mode)"
        v-on:click="toMode(mode)">
        in {{mode}}
      </button>
      <svg class="chart" id="history"></svg>
      <p
      v-for="legend, i in legends"
      v-if="modes[i] === mode">
      {{ legend }}
    </p>
    </div>
</template>

<script>

  import * as d3 from "d3";

  export default {
    name: 'stats',
    props: ['data'],
    data () {
      return {
        mode: "count",
        modes: ["count", "weeks"],
        legends: [
          "The size of your pending list through time",
          "The time you waited before archiving an item in your list, in weeks"
        ],
        transitions: ["toCount", "toWeeks"],
        transitionTime: 2000,
        elements: [{
          init(chart, scales, data, dim) {
            chart.append("g")
              .attr("transform", "translate(0," + dim.height + ")")
              .call(d3.axisBottom(scales.x))
          }
        },{
          init(chart, scales, data, dim) {
            this.dim = dim;
            chart.append("g")
              .attr('class', 'axisLeft')
              .call(d3.axisLeft(scales.s)

              )
          },
          toWeeks(chart, scales, t) {
            chart.selectAll('.axisLeft')
              .transition(t)
              .call(d3.axisLeft(scales.y)
                .tickSize(-this.dim.width)
              )

            chart.selectAll('.axisLeftLegend')
              .transition(t)
              .text("Weeks");
          },
          toCount(chart, scales, t) {
            chart.selectAll('.axisLeft')
              .transition(t)
              .call(d3.axisLeft(scales.s)
                .tickSize(-this.dim.width)
              )

            chart.selectAll('.axisLeftLegend')
              .transition(t)
              .text("Count");
          }
        },{
          init(chart, scales, data, dim) {
            var line = d3.line()
              // .curve(d3.curveBasis)
              .x(d => scales.x(d.date_added))
              .y(d => dim.height)

            chart.append("path")
              .attr('class', 'hist')
              .datum(data.reads)
              .attr("d", line)
          },
          toWeeks(chart, scales, t) {
            var line = d3.line()
              // .curve(d3.curveBasis)
              .x(d => scales.x(d.date_added))
              .y(d => scales.y(d.time_waiting))

            chart.selectAll(".hist")
              .transition(t)
              .attr("d", line)
              .attr("stroke", "rgba(0, 0, 0, .05)")
              .attr("stroke-width", 2)
              .attr("fill", "transparent");
          },
          toCount(chart, scales, t) {
            var line = d3.line()
              // .curve(d3.curveBasis)
              .x(d => scales.x(d.date_added))
              .y(d => scales.s(d.sum_added))

            chart.selectAll(".hist")
              .transition(t)
              .attr("d", line)
              .attr("stroke", "rgba(0, 0, 0, .5)")
              .attr("stroke-width", 2)
              .attr("fill", "transparent");
          }
        },{
          init(chart, scales, data) {
            chart.selectAll('.line')
              .data(data.reads)
              .enter()
              .append("line")
              .attr("class", "line")
              .attr("x1", d => scales.x(d.date_added))
              .attr("x2", d => scales.x(d.date_read))
              .attr("y1", d => scales.y(0))
              .attr("y2", d => scales.y(0));
          },
          toWeeks(chart, scales, t) {
            chart.selectAll('.line')
              .transition(t)
              .attr("y1", d => scales.y(d.time_waiting))
              .attr("y2", d => scales.y(d.time_waiting))
              .attr("stroke", "rgba(0, 0, 0, 0.05)")
              .attr("stroke-width", 1.5);
          },
          toCount(chart, scales, t) {
            chart.selectAll('.line')
              .transition(t)
              .attr("y1", d => scales.s(d.sum_added))
              .attr("y2", d => scales.s(d.sum_read))
              .attr("stroke", "rgba(0, 0, 0, 0.01)")
              .attr("stroke-width", 1.5);
          }
        },{
          init(chart, scales, data) {
            chart.selectAll('.added')
              .data(data.reads)
              .enter()
              .append('circle')
              .attr('class', 'added')
              .attr('cx', d => scales.x(d.date_added))
              .attr('cy', scales.s(0))
              .attr('r', 2);
          },
          toWeeks(chart, scales, t) {
            chart.selectAll('.added')
              .transition(t)
              .attr('cy', d => scales.y(d.time_waiting))
              .attr('r', 2)
              .attr("fill", "rgba(0, 0, 0, 0.1)");
          },
          toCount(chart, scales, t) {
            chart.selectAll('.added')
              .transition(t)
              .attr('cy', d => scales.s(d.sum_added))
              .attr('r', 2)
              .attr("fill", "rgba(0, 0, 0, 0.01)");
          }
        },{
          init(chart, scales, data) {
            chart.selectAll('.read')
              .data(data.reads)
              .enter()
              .append('circle')
              .attr('class', 'read')
              .attr('cx', d => scales.x(d.date_read))
              .attr('cy', scales.s(0))
              .attr('r', 2);
          },
          toWeeks(chart, scales, t) {
            chart.selectAll('.read')
              .transition(t)
              .attr('cy', d => scales.y(d.time_waiting))
              .attr("fill", "rgba(255, 0, 71, .5)")
              .attr('r', 2);
          },
          toCount(chart, scales, t) {
            chart.selectAll('.read')
              .transition(t)
              .attr('cy', d => scales.s(d.sum_read))
              .attr('r', 2)
              .attr("fill", "rgba(255, 0, 71, .01)");
          }
        },{
          init(chart, scales, data) {
            chart.selectAll('.pending')
              .data(data.pendings)
              .enter()
              .append('circle')
              .attr('class', 'pending')
              .attr('cx', d => scales.x(d.date_added))
              .attr('cy', scales.s(0))
              .attr('r', 2);
          },
          toWeeks(chart, scales, t) {
            chart.selectAll('.pending')
              .transition(t)
              .attr('cy', d => scales.y(d.time_waiting))
              .attr('r', 1)
              .attr("fill", 'rgba(71, 190, 255, .5)')
          },
          toCount(chart, scales, t) {
            chart.selectAll('.pending')
              .transition(t)
              .attr('cy', d => scales.s(d.sum_added))
              .attr('r', 1)
              .attr("fill", 'rgba(71, 190, 255, .01)');
          }
        }]
      }
    },
    computed: {
    },
    methods: {
      computeClass(refMode) {
        if (refMode === this.mode)
          return "active";
        else {
          return "inactive";
        }
      },
      toMode(mode) {
        this.mode = mode;
        // Run transition
        this.transition();
      },
      toggle() {
        // Circular rotation among the modes
        var i = (this.modes.indexOf(this.mode) + 1) % this.modes.length
        this.mode = this.modes[i];
        // Run transition
        this.transition();
      },
      transition() {
        var t = d3.transition()
                  .duration(this.transitionTime)
                  .ease(d3.easeLinear);

        this.elements.forEach(e => {
          var transition = this.transitions[this.modes.indexOf(this.mode)]
          if (e[transition]) {
            e[transition](this.chart, this.scales, t)
          }
        })
      },
      init() {
        var svg = d3.select("svg#history"),
            margins = {
              top: 50,
              right: 50,
              bottom: 50,
              left: 50
            };

        var width = parseInt(svg.style('width'), 10) - margins.left - margins.right;
        var height = parseInt(svg.style('height'), 10) - margins.top - margins.bottom;

        var x = d3.scaleTime().rangeRound([0, width]);
        var y = d3.scaleLinear().rangeRound([height, 0]);
        var s = d3.scaleLinear().rangeRound([height, 0]);

        x.domain(d3.extent(this.data.items, d => d.date_read));
        y.domain(d3.extent(this.data.items, d => d.time_waiting));
        s.domain(d3.extent(this.data.items, d => d.sum_added));

        this.scales = {x, y, s};
        this.dimensions = {width, height, margins};
        this.chart = svg.append("g").attr("transform", "translate(" + margins.left + "," + margins.top + ")");

        this.elements.forEach(e => e.init(this.chart, this.scales, this.data, this.dimensions))
      }
    },
    mounted() {
      this.init();
      this.transition();
    }
  }
</script>

<style lang="scss">

  $text: #AAA;
  $tick: #CCC;

  button {

    border: none;
    margin: 1rem 2rem;
    font-family: inherit;

    &::-moz-focus-inner {
      border: 0;
    }

    &.active {
      pointer-events: none;
    }

    &.inactive {
      opacity: .5;
      cursor: pointer;
    }
  }

  svg#history {

    .domain {
      display: none;
    }

    .tick {
      line {
        stroke: $tick;
      }

      text {
        font-family: "Montserrat";
        font-size: .8rem;
        fill: $text;
      }
    }

  }

</style>
