<template>
  <div>
    <section class="stats">

      <h1>Some facts</h1>
      <h2>since you put your first item in pocket, {{ elapsed_days }} days ago</h2>
      <!-- <h2>during the {{ elapsed_days }} days since your first item in pocket</h2> -->

      <div class="card">
        <div class="insight huge">
          <p>You've read <span class="emph">{{ word_count }}</span> words</p>
        </div>
        <div class="insight small">
          <p>{{ comment_words }}</p>
        </div>
        <!-- <div class="insight small">
          <p>That's about of <span class="emph">{{ average_words_per_day }}</span> words per day</p>
        </div> -->
      </div>

      <div class="card">
        <div class="insight huge">
          <p>You've read <span class="emph">{{ read_count }}</span> articles</p>
        </div>
        <hr class="sep small">
        <div class="insight small">
          <p>That's about of <span class="emph">{{ average_articles_per_day }}</span> article per day</p>
        </div>
        <hr class="sep medium">
      </div>

      <div class="card">
        <div class="insight small">
          <p>The articles you read are <span class="emph">{{ average_words_per_article }}</span> words long in average</p>
        </div>
      </div>


        <!-- <div class="card">
          <div class="insight medium">
            <p>{{ comment_articles }}</p>
          </div>
        </div> -->
    </section>

    <section class="pending">
      <h1>Your pending list</h1>
      <div class="card">
        <div class="insight medium">
          <span class="before">You currently have</span>
          <span class="emph">{{data.pendings.length}}</span>
          <span class="after">pending articles</span>
        </div>
        <hr class="sep large"/>
        <History :data="this.data"/>
      </div>
    </section>

    <section class="habits">
      <h1>Your reading habits</h1>
      <div class="card">
        <div class="insight">
        </div>
        <DayLine :data="this.data"/>
      </div>

    </section>
  </div>
</template>

<script>

  import Vue from 'vue';
  import History from './History.vue';
  import DayLine from './DayLine.vue';
  Vue.component('History', History);
  Vue.component('DayLine', DayLine);

  var msPerDay = 60*60*24*1000;

  export default {
    name: 'stats',
    props: ['data'],
    data () {
      return {
        read_count: this.data.reads.length,
        elapsed_days: Math.floor(this.data.elapsed/msPerDay),
        first_day: this.data.first_day.toLocaleDateString(),
        word_count: this.data.word_count,
      }
    },
    computed: {
      average_articles_per_day: function () {
        return Math.floor(this.read_count / this.elapsed_days * 100) / 100;
      },
      average_words_per_day: function () {
        return Math.floor(this.word_count / this.elapsed_days * 100) / 100;
      },
      average_words_per_article: function () {
        return Math.floor(this.word_count / this.read_count * 100) / 100;
      },
      comment_articles: function() {
        switch (true) {
          case this.average_articles_per_day < 1:
            return "You take it your own pace, that's good.";
          case this.average_articles_per_day < 2:
            return "You seem to be mild reader.";
          case this.average_articles_per_day < 3:
            return "You are one of a heavy reader.";
        }
      },
      comment_words: function() {
        switch (true) {
          case this.word_count > 1770000:
            return "You've read more than the entire A Song of Ice and Fire serie";
          case this.word_count > 1084170:
            return "You've read more than the entire Harry Potter serie";
          case this.word_count > 576459:
            return "You've read more than the entire Lord of the Rings serie";
          case this.word_count > 561304:
            return "You've read more than Leo Tolstoy's War and Peace";
          case this.word_count > 265222:
            return "You've read more than James Joyce's Ulysses";
          case this.word_count > 29966:
            return "You've read more than George Orwell's Animal Farm";
        }

        return false;
      },
      comment_words_per_day: function() {
        switch (true) {
          case this.average_words_per_day < 1000:
            return "You take it your own pace, that's good.";
          case this.average_words_per_day < 2000:
            return "You seem to be mild reader.";
          case this.average_words_per_day < 3000:
            return "You are one of a heavy reader.";
        }
      }
    },
    methods: {
    }
  }
</script>

<style lang="scss">



</style>
